@primary-background-color: #D1C7B5;
@secondary-background-color: #382C23;

@primary-text-color: #382C23;
@secondary-text-color: #D1C7B5;

@accent-background-color: #9C5D3C;
@accent-secondary-background-color: #B07E1E;

@font-primary: 'Cormorant Garamond', serif;
@font-secondary: 'Inter', sans-serif;

#break-points {
    tablet: 768px;
    desktop: 1025px;
    wide: 2300px;
}